# Path of Exile Official OAuth Credentials
# Obtain from https://www.pathofexile.com/developer/docs
VITE_POE_CLIENT_ID=your_client_id_here
VITE_POE_REDIRECT_URI=http://localhost:1420/oauth/callback
VITE_POE_SCOPES=account:profile account:characters account:stashes
